page-login {
    .scroll-content{
        overflow-y: hidden !important;
      }
    .login-margintop{
        margin-top:-40px;
    }
    
      .box_background1{
        max-width: 600px;
        text-align: center;
        margin: auto;
        margin-top: -20px !important;
        min-height: 470px;
      }
      .login_container
      {
      padding: 10px 10px 30px 10px;
      margin-top: 10px;
      }
      .footer_ads
      {
        margin-top: 0;
      }
}
