page-membership-options {

    $premium_background : #27aae1;
    $normalfontcolor : #ffffff !important;
    .membership_price{
    color : $membershippricefontcolor;
    background-color: map-get($colors, secondary) !important;
    }

    .specialhead{
      color : map-get($colors, specialhead);
      margin : auto !important;
    }


    .box_list{
          ion-list{
          margin: 0px;
          padding: 0px !important;

          }
          .item {
                  background-color: transparent;
                  padding: 0px;

          }
          ion-label{
          margin: 0px;
          }
          .item .item-inner{
                  border: 1px solid #a7a9ac;
                   padding: 0px;
          }
          .item h2{
             font-size: 1.8rem;
                 font-weight: 500;
                 line-height: 1.2;
                 margin-top: 5px;
                 font-weight: 800;
          }
          .feature_data{
               max-width: 200px;
            margin: auto;
            text-align : center;
            h6{display : none;}
            ul{
                            list-style: none;
                            padding: 0px;
                            margin : 0px;
                            li{
                                            font-size: 1.4rem;
                                                 font-style: normal;
                                                 font-weight: 300;
                                                     color: $normalfontcolor;
                                                     margin : 5px 0px;

                                      }
                      }
          }

          .maxwidth_button{
            max-width: 200px;
            margin : 16px auto;
          }
          .highlighed_list{
              background-color : $premium_background;
             .item {
                border: none;
              }
             .item-inner {

                    border: 0.5px solid #262262;
              }

              h2{
                color : #262262;
              }
          }
    }
}
.membership_price span {
  width: 100%;
  margin-right: 9px;
}
.terms{
  max-width: 200px;
  margin : 16px auto;
  background-color:rgb(255, 208, 0);
  color: black;
}
