page-join-now {
  .scroll-content{
    overflow-y: hidden !important;
  }
    .head_color{
      color: #27aae1;
    }

    .margint_11{
      margin-top: 30px !important;
     padding-top:10px; 
  }
  .lfont {
    font-size: 14px;
  }


}
